*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  /* width: 100vw;
  height: 100vh; */
}

div.center{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
  margin: auto;
} 

.btn{
  display: flex;
  border: solid black;
  justify-content: space-around;
  min-height: 5rem;
  min-width: 16rem;
  position: relative;
  background: transparent;
  align-items: center;
}

.translate-y{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
}
.translate-y::before{
  content: 'Cool!'; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  transform: translateY(-16rem);
}
.translate-y:hover::before{
  font-weight: bold;
  transform: translateY(0rem);
}

.translate-x{
  overflow: hidden;
}
.translate-x::before{
  content: ''; 
  background: salmon;
  position: absolute;
  width: 100%;
  height: 5rem;
  transition: 1s ease-in;
  transform: translateX(-100%);
  z-index: -1;
}
.translate-x:hover::before{
  transform: translateX(0px);
}

.rotate{
  overflow: hidden;
}
.rotate::before{
  content: '';
  background:   mediumorchid;
  position: absolute;
  width: 108%;
  height: 100%;
  z-index: -1;
  transform-origin: top left;
  transition: 1s ease;
  transform: rotate(90deg);
}
.rotate:hover::before{
  transform: rotate(0deg);
}

.scale{
  overflow: hidden;
}
.scale::before{
  content:'Scale';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
  transform: Scale(15);
  opacity: 0;
  z-index: 2;
}
.scale:hover::before{
  transform: scale(1);
  opacity: 1;
  color: white;
  font-size: large;
  
}

.skew{
  overflow: hidden;
}
.skew:hover{
  transform: skewY(-5deg);
}
.skew::before{
  content: '';
  position:absolute;
  transform: skew(0, 0) scale(0) rotate3d(360deg);
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: -1;
}
.skew:hover::before{
  transform: skew(180deg, 180deg) scale(1) rotate3d(360deg);
  background-color:aqua

}
