*{
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background: #e74e4e;
}

.flex-container{
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  background: #ed2f36 ;
}

.item{
  width: 100px;
  text-align: center;
}

.item-1{
  background: #1d7873;
}
.item-2{
  background: #679289;
}
.item-3{
  background: #081d22;
}