*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.grid-container{
  display: grid;
  gap: 1rem; 
  margin: 10rem auto 0;
  max-width: 900px;
  min-height: 400px;
  grid-template-areas:
  'header header header header'
  'sidebar content content sidebar-2'
  'sidebar content content sidebar-2'
  'footer footer footer footer';
}

.item{
  border: #ccc;
  border-radius: 20px;
  padding: 3rem;
  /* text-align: center; */
  font-size: 1.4rem;
}

.item_1{
  background: #78bdb8;
  grid-area: header;
}
.item_2{
  background: #d2dcc4;
  grid-area: sidebar;
}

.item_3{
  background: #5a8d6c;
  grid-area: content;
}
.item_4{
  background: #9fcab7;
  grid-area: sidebar-2;
}

.item_5{
  background: #fbf5e5;
  grid-area: footer;
}

/* SmartPhone */
@media (max-width: 500px)
{
  .grid-container{
    grid-template-areas: 
    'header'
    'sidebar'
    'content'
    'content'
    'sidebar-2'
    'footer'
  }
}
/* Tablet */
@media (min-width: 501px) and (max-width: 801px)
{
  .grid-container{
    grid-template-areas: 
    'header header header header'
    'sidebar content content content'
    'sidebar content content content'
    'sidebar-2 sidebar-2 sidebar-2 sidebar-2'
    'footer footer footer footer'
  }
}



/*  grid-template-areas: 
  'header header header header'
  'sidebar sidebar content content'
  'sidebar sidebar sidebar-2 footer'; */