

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header{
  background: orange;
  border: 1px solid black;
  margin: 5px 0;
  text-align: center;
  padding: 8px;
}

section{
  border: 1px solid black;
  float: left;
  width: 30%;
  height: 250px;
  background: green;
  padding: 8px;
}

aside{
  border: 1px solid black;
  float: right;
  background: purple;
  height: 250px;
  width: calc(70% - 5px);
  margin-bottom: 5px;
  text-align: right;
  padding: 8px;
}
footer{
  clear: both;
  margin-bottom: 5px;
  background: blue;
  border: 1px solid black;
  text-align: center;
  padding: 16px;
}


@media (min-width: 500px){
  section{
  display: none; 
}
  aside{
  width: 100%;
}
}
