#outer {
  width: 100px;
  height: 100px;
  background: darkcyan;
  margin: 50px;
  position: relative;
  font-size: medium;
  
  }
  #inner {
  width: 50px;
  height: 50px;
  background: lightgreen;
  position: relative;
  top: 10px;
 
  }