
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 10000px){
  body{
    background: grey;
  }
/* Equal columns that floats next to each other */
.column {
  border: solid black;
  float: left;
  width: 300px;
  margin-left: 4px;
  margin-top: 4px;
  padding: 10px 12px 10px;
  height: 120px;
}

/* Clearing floats after columns */
.row:after {
  content: "";
  display: table-column;
  clear: both;
}
}


